.categories-list{
    flex-direction: row;
    width: 100vw;
    margin: 0;
    padding: 0.5rem 1.5rem;
    flex-wrap: wrap;    
    list-style-type: none;
    top: 15vh;
    background-color: #e6e8fa;
}

.categories-list > * {
    cursor: pointer;
    margin-right: 1rem;
}

.categories-list > *:hover {
    font-weight: bold;
}

.new-email-btn {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	border-radius:3px;
	cursor:pointer;
	color:#ffffff;
	font-size:1.1rem;
	padding:0.5rem 1.3rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.new-email-btn:hover {
    background-color:#6dc6fd;
    text-shadow:0px 1px 0px #566cb1;
}

.email-category-last{
    margin-right: 0;
}

@media (min-width: 650px){
    .categories-list {
        flex-direction: column;
        width: 140px;
        margin-left: 0;
        margin-top: 0;
        padding:  1.5rem;      
        height: 100vh;
    }

    .categories-list > * {
        margin-bottom: 2rem;
        margin-right: 0;
    }

}

@media (max-width: 649px){
    .new-email-btn {
        position: fixed;
        bottom: 45px;
        right: 20px;
    }
}