.email-filter {
    background-color:#61b3e7;
    height: 3rem;
    align-items: center;
    width: 100vw;
}

.email-filter input,select {
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    color: #192b43;
    border-radius: 7px;
    padding: 0.5rem;
}

.email-filter input::placeholder{
    color:white;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: Raleway;
}

@media (min-width: 650px) {
    .email-filter {
        position: relative;
        left: 120px;
        width: calc(100vw-120px);
    }
        
}