.email-filter {
    background-color:#61b3e7;
    height: 3rem;
    align-items: center;
    width: 100vw;
}

.email-filter input,select {
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    color: #192b43;
    border-radius: 7px;
    padding: 0.5rem;
}

.prev-email-subject{
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prev-email-create-date{
    flex-grow: 1;
}
.list-filter-div {
    overflow: auto;
    flex-direction: column;
}

.email-filter input::placeholder{
    color:white;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: Raleway;
}

@media (min-width: 650px) {
    .email-filter {
        position: relative;
    }
        
}