
/* HOME PAGE CSS */

.homepage-img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

.email-link-img ,.notes-link-img {
    height: 150px;
    padding: 10px;
}

.link-img-container {
    cursor: pointer;
    text-align: center;
    width: 100vw;
}

.link-img-section {
    flex-direction: column;
    margin-bottom: 20px;
}

.link-img-container:last-child {
    background-color: #192b43;
}

.link-img-container:first-child {
    background-color:#c1ecfc;
}

/* MEDIA QUERIES*/

@media (min-width: 650px){
    
    /* HOME PAGE CSS - MEDIA QUERIES */

    .link-img-section{
        flex-direction: row;
    }

    .link-img-container {
        width: 50vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}