/* IMPORT OTHER PAGES CSS */

@import url('./homepage.css');

/* FONTS */

@font-face {
    font-family: Aguafina;
    src: url('../fonts/Aguafina.ttf')
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway.ttf')
}

/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    font-family: Raleway;
}

a {
    text-decoration: none;
}

/* PAGE CONTENT */ 

.page-content{
    position: relative;
    top: 120px;
}

/* HEADER */

.main-navbar {
    position: fixed;
    top: 0px;
    width:100vw;
    height: 120px;
    background-color: #dfdfe0;
    justify-items: baseline;

    z-index: 1;
}

.logo {
    font-family: Aguafina;
    font-size: 2rem;
    align-self: center;
}

.logo::after {
    content: ' !';
    color: #61b3e7;
}

.main-nav {
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 0;
    width: 250px;
    height: 100vh;
    align-content: space-around;
    background-color: #e6e8fa
}


.main-nav > a {
    height: 2.5rem;
    cursor: pointer;
    justify-content: center;
}



.open-main-nav-btn {
    height: 50px;
    width: 50px;
    align-self: center;
    margin: 0 20px;
}

/* FOOTER */

footer {
    width: 100vw;
    text-align: center;
    color: black;
    position: fixed;
    bottom: 0;
    background-color:#dfdfe0;
}

/* HELPERS */

.flex {
    display: flex;
}

.container {
    padding: 0 20px;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}


/* LISTS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* MEDIA QUERIES*/

@media (min-width: 650px){

    /* HEADER */

    .main-navbar {
        flex-direction: row;
    } 

    .main-nav{
        position: static;
        display: flex;
        flex-direction: row;
        background: none;
        width: 60vw;
    }

    .main-nav a {
        height: 120px;
    }

    .open-main-nav-btn {
        display: none;
    }

}