/* IMPORT OTHER PAGES CSS */

@import url('./homepage.css');
@import url('./previews-email.css');


/* FONTS */

@font-face {
    font-family: Aguafina;
    src: url('../fonts/Aguafina.ttf')
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway.ttf')
}

/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    font-family: Raleway;
}

a {
    text-decoration: none;
}

/* CLOSE FOR RENOVETIONS  */

.close-for-renovetion {
    background-color:#192b43;
    font-weight: bold;
    height: 85vh;
    color: #e6e8fa;
}

.close-for-renovetion h1 {
    margin: 0;
    padding: 20px;
}
/* PAGE CONTENT */ 

.page-content{
    position: relative;
    top: 15vh;
}

/* HEADER */

.main-navbar {
    position: fixed;
    top: 0px;
    width:100vw;
    height: 15vh;
    background-color: #dfdfe0;
    justify-items: baseline;
    z-index: 1;
}

.logo {
    font-family: Aguafina;
    font-size: 2rem;
    align-self: center;
}

.logo::after {
    content: ' !';
    color: #61b3e7;
}

.main-nav {
    flex-direction: column;
    position: absolute;
    top: 15vh;
    right: 0;
    width: 250px;
    height: 100vh;
    align-content: space-around;
    background-color: #e6e8fa;
}


.main-nav > a{
    height: 2.5rem;
    cursor: pointer;
    justify-content: center;
    flex-flow: 1;
}

.main-nav > a:hover{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #c9c9ca;
    color:#61b3e7;;
    box-shadow: 0px 15px 10px -15px #61b3e7;
}

.open-main-nav-btn {
    height: 50px;
    width: 50px;
    align-self: center;
    margin: 0 20px;
}

/* FOOTER */

footer {
    width: 100vw;
    height: 5vh; 
    text-align: center;
    color: black;
    position: fixed;
    bottom: 0;
    background-color:#dfdfe0;
}

/* HELPERS */

.flex {
    display: flex;
}

.container {
    padding: 0 20px;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}


/* LISTS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* MEDIA QUERIES*/

@media (min-width: 650px){

    /* HEADER */

    .main-navbar {
        flex-direction: row;
    } 

    .main-nav{
        position: static;
        display: flex;
        flex-direction: row;
        background: none;
        width: 60vw;
        height: 15vh;
    }

    .main-nav a {
        height: 15vh;
        flex-grow: 1;
        border-left: 1px solid #192b437e;
    }

    .main-nav:last-child{
        border-right: 1px solid #192b437e;
    }
    .open-main-nav-btn {
        display: none;
    }

}