/* PREVIEWS EMAIL */

.prev-email-container {
    margin-top: 1rem;
    height: 1.5rem;
    cursor: pointer;
    flex-direction: column;
    margin-bottom: 3.5rem;
}

.prev-email-subject {
    font-weight: bold;
    margin-right: 1rem;
}

.prev-email-content {
    color: gray;
    font-size: 0.9rem;
    margin-right: 1rem;
}

.prev-email-create-date {
    color: gray;
    font-size: 0.9rem;
}

.img-email-status,.img-favorite{
    height: 1.1rem;
}


.prev-emails-sender{
    font-weight: bold;
    margin-right: 1rem;
}


.prev-email-container:hover ,.preview-email-li:hover{
    color: #294c71;
    font-weight: bolder;
}

/* HELPERS */

.read {
    font-weight: normal;
}


@media (min-width: 650px){
    .prev-email-container{
        flex-direction: row;
        margin-left: 25vw;
    }
}